@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500,700|Roboto:100,300,400,500');

/* icon font import */
@import url('http://weloveiconfonts.com/api/?family=entypo');

* {
  font-size: 16px;

  margin: 0;
  padding: 0;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
  font-size: 24px;
}

h1, p {
  font-family: 'Cormorant', serif;
}

h1 {
  font-size: 2em;
}

h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: right;
}

h4 {
  font-weight: 300;

  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  text-transform: capitalize;
}

.control {
  cursor: pointer;
}
.post-icons {
  padding-right: 20px;
}
.post-icons::before {
  font-size: 18px;
}

.no-post {
  padding: 10px 0;
  border-top: 1px solid black;
}

.nav {
  background-color: gainsboro;
  padding: 10px 0;
}

.header {
  width: 100%;
  padding-bottom: 10px;

  text-align: center;
  font-variant: small-caps;
}

.controls {
  width: calc(100% - 60px);
  margin: auto;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu:hover .dropdown-list {
  display: block;
}

.categories, .sort-by {
  display: none;
  position: absolute;
  z-index: 1;
  list-style-type: none;

  min-width: 60px;
  padding: 5px;

  background-color: white;
  box-shadow: 0 2px 4px grey;
}

.sort-by {
  right: 0;
  min-width: 100px;
}

.dropdown-link {
  text-transform: capitalize;
}

.dropdown-link:hover {
  background-color: dimgrey;
  color: white;
}

.post-list {
  width: calc(100% - 60px);
  margin: auto;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.add-post {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.post-min-container {
  padding: 10px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid black;
}

.vote-container {
  width: 60px;
  margin-right: 10px;
  padding-right: 10px;

  border-right: 1px solid black;
}

.vote-container h2 {
  text-align: center;
}

.vote {
  line-height: 14px;
}

.post-min {
  width: 100%;
  padding: 10px 0;

  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.post-min-icons {
  padding: 10px 0 0 0;
  display: flex;
}

.post-min-link {
  width: 100%;
}

.post-min h1 {
  font-size: 1.5em;
}

.post-min-link:hover {
  color: red;
}

.post-info h2 {
  font-weight: 100;
}

.vote-arrow {
  text-align: center;
}

/* form */
.form {
  margin: auto;
  padding: 10px;
  max-width: 500px;
  background-color: gainsboro;
  border: 1px solid black;

}

.form input, select {
  margin: 10px 0;
  width: 100%;
  display: block;
  background-color: inherit;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
}

.form select, .form button {
  width: 100px;
  border: 1px solid black;
}

.form-body {
  padding: 10px;
  width: 100%;
  height: 80px;
  background-color: inherit;
  border: 1px solid black;
  box-sizing: border-box;
}
