@import url('https://fonts.googleapis.com/css?family=Cormorant:400,500,700|Roboto:100,300,400,500');

* {
  font-size: 16px;

  margin: 0;
  padding: 0;
}

h1, p {
  font-family: 'Cormorant', serif;
}

h1 {
  font-size: 2em;
}

h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: right;
}

h4 {
  font-weight: 300;

  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  background-color: ivory;
  padding: 10px 0;
}

.header {
  width: 100%;
  padding-bottom: 10px;

  text-align: center;
  font-variant: small-caps;
}

.controls {
  width: calc(100% - 60px);
  margin: auto;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.category-menu {
  position: relative;
  display: inline-block;
}

.category-menu:hover .categories {
  display: block;
}

.categories {
  display: none;
  position: absolute;
  z-index: 1;
  list-style-type: none;

  min-width: 100%;
  padding: 5px;

  background-color: white;
  box-shadow: 0 10px 20px dimgrey;
}

.category-link {
  text-transform: capitalize;
}

.category-link:hover {
  background-color: dimgrey;
  color: red;
}

.post-list {
  width: calc(100% - 60px);
  margin: auto;
  padding-top: 10px;

  border-bottom: 1px solid black;
}

.post-min {
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid black;
}

.post-min h1 {
  font-size: 1.5em;
}

.post-min-link:hover {
  color: red;
}

.post-info h2 {
  font-weight: 100;
}
