.post {
  margin: auto;
  max-width: 700px;
  min-width: 350px;

  background-color: ivory;
  border: 1px solid black;
  box-shadow: 0 5px 5px grey;
}

.post-top {
  width: calc(100% - 20px);
  margin: auto;
  padding: 10px 0;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border-bottom: 1px solid black;
}

.post-body {
  width: calc(100% - 20px);
  margin: auto;
  padding: 20px 0;
}

.post-bottom {
  width: calc(100% - 20px);
  margin: auto;
  padding: 10px 0;

  display: flex;
  justify-content: space-between;

  border-top: 1px solid black;
}

/* Menu */
.post-menu {
  position: relative;
  display: inline-block;
}

.post-menu label {
  cursor: pointer;
}

.post-menu:hover .post-controls {
  display: block;
}

.post-controls {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  list-style-type: none;

  min-width: 100%;
  padding: 5px;

  background-color: white;
  box-shadow: 0 10px 20px grey;
}
